        <div class="mb-3">
            <label for="fname" class="form-label">First Name</label>
            <input type="text" class="form-control" name="first_name" id="fname" value="{{this.first_name}}" required minlength="3" maxlength="45" placeholder="Ex. John">
        </div>
        <div class="mb-3">
            <label for="lname" class="form-label">Last Name</label>
            <input type="text" class="form-control" name="last_name" id="lname" required minlength="3" maxlength="45" value="{{this.last_name}}" placeholder="Ex. Doe">
        </div>
        <div class="mb-3 d-grid">
            <button class="btn btn-primary align-right" type="submit">Submit</button>
        </div>