<div class="container pt-5 pb-6">
  <!-- Content here -->
  <div class="row pb-4">
    <div class="col-md-2">
        <a href="/" class="btn btn-secondary"><i class="bi bi-arrow-left-square"></i> Back</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <a href="/balance-inquiry/{{userId}}">
        <div class="card">
          <i class="bi bi-bank icon-3x"></i>
          <div class="card-body">
            <h5 class="card-title">Balance Inquiry</h5>
            <p class="card-text">Check balance</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="/cash-in/{{userId}}">
        <div class="card">
          <i class="bi bi-cash icon-3x"></i>
          <div class="card-body">
            <h5 class="card-title">Cash In</h5>
            <p class="card-text">Add Money</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="/debit/{{userId}}">
        <div class="card" >
          <i class="bi bi-cash-coin icon-3x"></i>
          <div class="card-body">
            <h5 class="card-title">Debit</h5>
            <p class="card-text">Withdraw Money</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>